.barchart .default-color0.chart-bar {
    -fx-bar-fill: #000080;
}

.chart-line .default-color0.chart-series-line {
    -fx-stroke: #000080;
    -fx-stroke-width: 5px;
}
.label {
    -fx-font-weight: bold;
}