.barchart .default-color0.chart-bar {
    -fx-bar-fill: #2D2D53;
}

.chart-line .default-color0.chart-series-line {
    -fx-stroke: #2D2D53;
    -fx-stroke-width: 5px;
}
.button {
    -fx-border-color: #2D2D53 #2D2D53 #2D2D53 #2D2D53;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

