.timetable{
        -fx-background-color: #393946;
        -fx-border-color: #393946;
        -fx-border-width: 2;
}
.timetable .table-view .column-header-background {
        -fx-background-color: transparent;
    }
.timetable .table-view .column-header-background .filler {
        -fx-background-color: transparent;
    }
.timetable .table-view .column-header{
        -fx-background-color: transparent;
    }
.timetable .table-view .column-header .label{
        -fx-background-color: transparent;
        -fx-text-fill: white;
        -fx-font-weight: normal;
    }
.timetable .timetableTitle {
        -fx-background-color: transparent;
        -fx-font-family: "Space Mono";
        -fx-text-fill: WHITE;
        -fx-font-weight: bold;
        -fx-padding: 5;
        -fx-spacing: 10;
        -fx-font-size: 15;
    }
.timetable .table-view {
        -fx-border-color: transparent;
    }
.timetable .table-row-cell {
        -fx-background-color: #2D2D53;
        -fx-border-width: 1;
        -fx-border-style: solid;
        -fx-border-color: #6B655A;
    }
.timetable .table-row-cell:hover,
.timetable .table-row-cell:selected{
        -fx-opacity: 50%;
    }
.timetable .table-view .table-cell {
        -fx-font-family: Monospaced;
        -fx-border-color: transparent;
        -fx-text-fill: #FFEA99;
    }
.timetable .table-view .virtual-flow .scroll-bar,
.timetable .table-view .virtual-flow .scroll-bar .track,
.timetable .table-view .virtual-flow .scroll-bar .track-background {
        -fx-background-color: transparent;
    }
.timetable .table-view .virtual-flow .scroll-bar .increment-button,
.timetable .table-view .virtual-flow .scroll-bar .decrement-button {
        -fx-opacity: 1;
    }
.timetable .table-view .virtual-flow .scroll-bar .increment-button:hover,
.timetable .table-view .virtual-flow .scroll-bar .decrement-button:hover {
        -fx-background-color: transparent;
    }
.timetable .table-view .virtual-flow .scroll-bar .thumb{
        -fx-background-color:  white;
    }



.activityBox {
        -fx-background-color: #FFD42A;
        -fx-alignment: center;
        -fx-border-color: #FFD42A;
        -fx-border-width: 2;
    }
.activityBox .label{
        -fx-font-family: "Space Mono";
        -fx-alignment: center;
        -fx-fit-to-width: true;
        -fx-text-alignment: center;
        -fx-padding: 5;
        -fx-font-weight: bold;
    }
.activityBox .list-cell:even{
        -fx-background-color: #eaeaea;
    }
.activityBox .list-cell:odd{
        -fx-background-color: #ffffff;
    }
.activityBox .table-view .column-header-background {
        -fx-background-color: transparent;
    }
.activityBox .table-view .column-header-background .filler {
        -fx-background-color: transparent;
    }
.activityBox .table-view .column-header{
        -fx-background-color: transparent;
    }
.activityBox .table-view .column-header .label{
        -fx-background-color: transparent;
    }
.activityBox .table-view .table-cell{
    -fx-border-color: transparent;
}
.activityBox .table-view {
    -fx-border-color: #FFD42A;
    -fx-background-color: white;
    }
.activityBox .table-row-cell:even {
        -fx-background-color: #eaeaea;
    }
.activityBox .table-row-cell:odd {
        -fx-background-color: #ffffff;
    }
.activityBox .table-row-cell:hover,
.activityBox .table-row-cell:selected{
        -fx-opacity: 50%;
    }
.activityBox .table-view .table-cell {
        -fx-border-color: transparent;
    }

.activityBox .list-view{
    -fx-background-color: transparent;
}
.activityBox .list-view .scroll-bar {
    -fx-background-color: #FFD42A;
}
.activityBox .list-view .scroll-bar .increment-button,
.activityBox .list-view .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}
.activityBox .list-view .thumb {
    /*-fx-background-color: #ABA27E;*/
    -fx-background-color: #ffffff;
}

.timeLabel {
    -fx-font-family: "Space Mono";
    -fx-font-weight: bold;
    -fx-font-size: 20;
    }

.simButton {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }
.simButton:hover,
.simButton:disabled {
        -fx-opacity: 25%;
    }