.root{
    -fx-background-color: #c4c4c4;
    -fx-max-height: 600px;
    -fx-max-width: 1200px;
}
.container {
    -fx-spacing: 10;
}

.iconButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.iconButton:hover,
.iconButton:disabled {
    -fx-opacity: 25%;
}

.timeLabel {
    -fx-font-family: "Space Mono";
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
.buttonBox {
    -fx-padding:0 20 0 0; /*top right bottom left*/
}
.exitButtonBox {
    -fx-alignment: center;
}